* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	/* text-transform:uppercase; */
	/* overflow-x: hidden; */
}

body {
	background-color : #666;
}

iframe{
    /*overflow:hidden;*/
}

.left {
	float : left;
}

.right {
	float : right;
}

a img{
	border:0;
}
			
#wrap {
	/* width: 1002px; */
	width: 1024px;
	/* height: 580px; */
	height : 100%;
	margin: auto;
	display: block;
	background-color: #222423;
	position:relative;
}
			
#page-content {
	overflow: hidden;
	width: inherit;
	display: inline;
	text-align: left;
	font-size: 12px;
	padding: 2px 2px;
	min-height: 560px;
}

#page {
	display: block;
	position: relative;
	width: 1024px;
	min-height: 560px;
}

#footer {
	display: block;
	height: 10%;
}

.bg_img {
	background-repeat: no-repeat;
}

table {
	border:0px;
	border-collapse: inherit;
	width: 100%;
}

tr {
	border: 0;
	padding: 0px;
	margin: 0px;
}

td,th {
	text-align: left;
	vertical-align: top;
}

#logo {
	opacity: 1.0;
	z-index: 99;
}

.current {
	color:#BAA378;
}

ul.oe_menu {
	list-style: none;
	position: relative;
	margin: 20px 0px 0px 0px;
	width: 540px;
	float: left;
	clear: both;
	position: absolute;
	margin-left : 100px;
	/* bottom: 110px; */
	right: 0px;
}

ul.oe_menu>li {
	width: 100px;
	height: 30px;
	float: left;
	position: relative;
}

ul.oe_menu>li>a {
	display: block;
	/*background-color: #101010;*/
	background-color: #222423;
	color: #aaa;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	width: 100px;
	height: 30px;
	margin: 11px;
	text-shadow: 0px 0px 0px #000;
	text-transform: uppercase;
	text-align:center;
	opacity: 0.8;
}

ul.oe_menu>li>a:hover,ul.oe_menu>li.selected>a {
	color: #BAA378;
}
/*
ul.oe_menu>li>a:hover,ul.oe_menu>li.selected>a {
	background: #fff;
	color: #101010;
	opacity: 1.0;
	/* padding: 5px; */
}

.oe_wrapper {
	z-index: 88;
}

.oe_wrapper ul.hovered>li>a {
	background: #fff;
	text-shadow: 0px 0px 0px #FFF;
}

ul.oe_menu div {
	position: absolute;
	bottom: 103px;
	left: 1px;
	background: #fff;
	width: 498px;
	height: 180px;
	padding: 30px;
	display: none;
}

ul.oe_menu div ul li a {
	text-decoration: none;
	color: #222423;
	padding: 2px 2px 2px 4px;
	margin: 2px;
	display: block;
	font-size: 12px;
}

ul.oe_menu div ul.oe_full {
	width: 100%;
}

ul.oe_menu div ul li a:hover {
	background: #000;
	color: #fff;
}

ul.oe_menu li ul {
	list-style: none;
	float: left;
	width: 150px;
	margin-right: 10px;
}

li.oe_heading {
	color: #aaa;
	font-size: 16px;
	margin-bottom: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ddd;
}

.navigation {
	width: 1024px;
	display: block;
	/*background-color: #101010;*/
	
	/*border-top: 1px dotted #444;*/
	background-color: #222423;
	color: #aaa;
	height: 70px;
	position: relative;
	opacity: 1.0;
	z-index: 99;
}

.thumbs {
	width: 1024px;
	display: block;
	background-color: #222423;
	color: #aaa;
	height: 100px;
	position: relative;
	opacity: 1.0;
	z-index: 99;
}

.copyrights {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	width: 1024px;
	display: block;
	background-color: #222423;
	position: relative;
	color: #FAFAFA;
	height: 20px;
	opacity: 1.0;
	z-index: 99;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}


/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #222423;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #222423;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#overscroll { width: 1024px; height: 470px; overflow: hidden; position: absolute; }
			#overscroll ul { width: 4500px; margin:0; padding: 0; }
			#overscroll li { display: block;float: left;width: 600px;height:450px;background-color:#222423;border-right:dotted 1px #333; }
			
			
			
			